:root {
  --main-bg-color: white;
  --text-color: #222;
  --primary-color: #013c28;
  --tertiary-color: #3f3f3f;
  --shadow-color: #868686;

  --pre-color: #f8f8f2;
  --pre-background: #272822;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: white;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Serif';
  src: url('/fonts/RobotoSerif-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: 'GRAD' 0, 'wdth' 100;
}

@font-face {
  font-family: 'Roboto Serif';
  src: url('/fonts/RobotoSerif-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
  font-variation-settings: 'GRAD' 0, 'wdth' 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
}

.aside {
  color: var(--tertiary-color);
  font-style: italic;
}

.aside::before {
  content: "† ";
  color: var(--tertiary-color);
  font-style: italic;
  font-size: 1.2em;
}

.highlight {
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 3px 3px 2px var(--shadow-color);
}

pre,
code {
  font-family: "Fantasque Sans Mono", monospace;
}

pre {
  padding: 1rem;
  margin: 0;
  overflow: auto;
  color: var(--pre-color);
  background-color: var(--pre-background);
  tab-size: 4;
  scrollbar-color: var(--pre-color) var(--pre-background);
}

pre code {
  display: inline-block;
  min-width: 100%;
}

.code-wrap pre {
  white-space: pre-wrap;
}

body {
  color: #222;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  line-height: 1.5;
}

main img,
main video {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 3px 3px 2px var(--shadow-color);
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

figure img,
figure video {
  justify-content: center;
}

figure figcaption {
  margin-top: -4px;
  font-style: italic;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

h3.title,
h4.title,
h5.title,
h6.title {
  margin-bottom: -0.4em;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-variant-caps: small-caps;
  padding-top: 1em;
}

.reading-time {
  color: var(--tertiary-color);
  font-style: italic;
}

.page-title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
}

.page-title time {
  font-style: italic;
  color: var(--tertiary-color);
}

header {
  display: flex;
  align-items: baseline;
  color: var(--tertiary-color);
}

nav {
  font-size: 18px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 1rem;
  column-gap: 2rem;
}

nav a,
footer a {
  color: var(--tertiary-color);
}

nav a.active {
  color: var(--primary-color);
  font-weight: bold;
}

nav a:hover,
footer a:hover {
  color: var(--text-color);
}

main {
  text-align: left;
}

.article-item time {
  color: var(--tertiary-color);
  font-style: italic;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

blockquote {
  margin: auto 0;
  color: var(--tertiary-color);
}

blockquote>p::before {
  content: "“";
  font-size: 1.2em;
}

blockquote>p::after {
  content: "”";
  font-size: 1.2em;
}

footer {
  color: var(--tertiary-color);
  font-size: 14px;
}

.footer-links {
  display: grid;
  grid-template-areas:
    "sitemap socials work";
  align-items: baseline;
  gap: 4rem;
  justify-content: center;
}

footer .sitemap {
  grid-area: sitemap;
  text-align: left;
}

footer .socials {
  grid-area: socials;
  text-align: center;
}

footer .work {
  grid-area: work;
  text-align: right;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  body {
    margin: 1rem auto;
    width: 48rem;
  }

  header {
    margin-bottom: 3rem;
  }

  header h1 {
    font-size: 2.2em;
  }

  nav {
    font-size: 1.2em;
  }

  .page-title {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "reading date"
      "title title";
    align-items: baseline;
    gap: 0.5rem;
  }

  .reading-time {
    grid-area: reading;
  }

  .page-title h1 {
    grid-area: title;
    margin-top: 0.3rem;
    text-align: center;
  }

  .page-title time {
    grid-area: date;
  }

  .article-list {
    display: grid;
    grid-template-columns: 128px 1fr;
    column-gap: 56px;
    max-width: 100%;
    row-gap: 1em;
  }

  .article-item {
    display: contents;
    font-size: 1em;
  }

  .article-item time {
    grid-column: 1;
    align-self: start;
    text-align: right;
    font-size: 1.1em;
  }

  .article-item time::after {
    content: " »";
    font-size: 0.9em;
  }

  .article-item h2 {
    grid-column: 2;
    text-align: left;
    font-size: 1.1em;
    margin: 0px;
  }

  footer {
    margin-top: 5rem;
    padding-bottom: 3rem;
  }

  @media only screen and (min-width: 1500px) {
    body {
      width: 53rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
  }

  header {
    margin-bottom: 1rem;
  }

  .page-title {
    display: grid;
    gap: 0.15rem;
    grid-template-areas:
      "reading"
      "title"
      "date"
    ;
    padding-bottom: 0.3rem;
  }

  .reading-time {
    grid-area: reading;
  }

  .page-title h1 {
    grid-area: title;
    margin-top: 0;
    margin-bottom: 0;
  }

  .page-title time {
    grid-area: date;
  }

  .article-item {
    padding-bottom: 2em;
  }

  .article-item h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  footer {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}
