<div class="footer-links">

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <div class="sitemap">
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </div>
{{- end }}
  <div class="socials">
    <ul>
      <li><a href="https://github.com/Sighery" target="_blank">GitHub</a></li>
      <li><a href="https://twitch.com/Sighery" target="_blank">Twitch</a></li>
      <li><a href="https://twitter.com/Sighery" target="_blank">Twitter</a></li>
    </ul>
  </div>
  <div class="work">
    <ul>
      <li><a href="https://www.linkedin.com/in/nicholas-tarta/" target="_blank">LinkedIn</a></li>
      <li><a href="mailto:contact@sighery.com">Email</a></li>
    </ul>
  </div>
</div>
