<div class="footer-links">
{{- $page := . -}}
{{ range .Site.Params.footer_links -}}
  {{- $section := . -}}
  {{- if eq .class "sitemap" -}}
    {{- with index site.Menus .menuID }}
      <div class="{{ $section.class }}">
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </div>
    {{- end }}
  {{- else -}}
    <div class="{{ $section.class }}">
      <ul>
        {{- range .links }}
         <li><a href="{{ .link }}" target="_blank">{{ .name }}</a></li>
        {{- end }}
      </ul>
    </div>
  {{- end -}}
{{- end }}
</div>